html, body {
    overflow-y: hidden;
}

.headlines {
    overflow-x: auto;
}

.card {
    min-width: 250px;
    margin: 15px;
    height: calc(75vh);
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,0.25);
}

/* Colors:
far-right: rgb(99.6, 19.6, 20)
*/

.far-left {
    border: 3px solid #3033ee;
}

.left {
    border: 3px solid #5933c8;
}

.center {
    border: 3px solid #9f328a;
}

.right {
    
    border: 3px solid #cb3261;
}

.far-right {
    border: 3px solid #fe3233;
}